@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

:root {
    --rosa-escuro:#994585;
    --roxo-fundo: #3d2752;
    --rosa-claro: #d194c3;
    --branco: #ffffff;
}
body {
    background-color: var(--roxo-fundo);
    font-family: 'Playfair Display', serif;
}

.container {
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   
}

header {
    height: 100px;
    background-color: var(--rosa-escuro);
    border-radius: 7px;
}

header h1 {
    font-size: 38px;
    color: rgb(255, 255, 255);
    padding: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 400px;
    border: 2px solid var(--rosa-claro);
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--branco);

}

.header-cadastro {
    height: 80px;
    background-color: var(--rosa-escuro);
    font-size: 23px;
    color: var(--branco);
    /*FLEX BOX*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group, .form-button, .nome-js, .contato-js{
    margin: 10px;
}

.form-group label {
    font-weight: bold;
    font-size: 18px;
    color: var(--rosa-escuro);
    display: block;
    padding-bottom: 10px;

}

.form-group input{
    border: 2px solid var(--rosa-claro);
    width: 95%;
    height: 25px;
    outline: none;
    padding-left: 5px;
}

.form-button button {
    background-color: var(--rosa-claro);
    color: var(--roxo-fundo);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    
}

.nome-js, .contato-js {
    font-size: 16px;
    color: var(--rosa-claro);
    padding: 5px;
}